body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    color: #0066cc;
    margin: 10px;
}

.score-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p.score {
    font-size: 200px;
    font-weight: bold;
    color: #ff9900;
    margin: 0;
    position: absolute;
    top: 60%;
}

p.highscore {
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

p.timer {
    font-size: 250px;
    font-weight: bold;
    color: #fff;
    margin: 10px;
    position: absolute;
    top: 33%;
    left: 49%;
    transform: translate(-50%, -50%);
}

button {
    font-size: 36px;
    font-weight: bold;
    color: white;
    background-color: #0066cc;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #ff9900;
}